body {
  margin: 0;
  font-family: 'Roboto' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-pills .nav-link.active {
  background-color: rgb(138, 48, 48) !important;
}

.nav-pills .nav-link:not(.active) {
  background-color: #f3f3f3 !important;
  color: rgb(138, 48, 48);
}